# Environment
.env

# Laravel
backend/vendor/
backend/storage/
backend/bootstrap/cache/

# React
frontend/node_modules/
frontend/dist/

# Docker
docker/**/.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
