# =====================================================
# Environment
# =====================================================

.env
.env.*

!.env.example

# =====================================================
# Git
# =====================================================

*.log

# =====================================================
# Laravel (semua service)
# =====================================================

services/*/vendor/
services/*/node_modules/
services/*/storage/
services/*/bootstrap/cache/

# =====================================================
# React / Vite
# =====================================================

services/*/public/build/
services/*/dist/
services/*/.vite/

# =====================================================
# Testing
# =====================================================

services/*/coverage/

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db
